<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Register</h1>
    
    <form action="/account/register" method="post">
    <div>
        <label>Username:</label>
        <input value="{{ old.username }}" type="text" name="username"/>
        <div class="errors">{{ errors.username.msg }}
        </div>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
        <div class="errors">{{ errors.password.msg }}
        </div>
    </div>
    <div>
        <label>Confirm Password:</label>
        <input type="password" name="confirm_password"/>
        <div class="errors">{{ errors.confirm_password.msg }}
        </div>
    </div>
    <div>
        <label>Email:</label>
        <input value="{{ old.email }}" type="text" name="email"/>
        <div class="errors">{{ errors.email.msg }}
        </div>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>
  </body>
</html>