<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<meta charset="utf-8">
</head>
<body>
<h2>Welcome, {{ username }}</h2><a href="/account/logout">Logout</a>
<div id="chat-window">
</div>
{{ room.name }}
<input type="text" id="message" />
<input type="hidden" id="room" value="{{ room }}">
<input type="hidden" id="room-name" value="{{ roomName }}">
<input type="hidden" id="token" value="{{ token }}">
<button id="send">Send</button>
<h4>Users:</h4>
<div id="users"></div>
<h4>Rooms:</h4>
<div id="rooms"></div>
<script src="/javascripts/main.js"></script>
</body>
</html>